.container {
  min-height: 70vh;
  padding: 25px;
  width: 75%;
  margin: auto;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.container .profilo .top {
  margin-bottom: 5px;
}

.container .profilo .top:after {
  content: "";
  display: table;
  clear: both;
}

.container .profilo .top .floatl {
  float: left;
  width: 70%;
}

.container .profilo .top .floatl h1 {
  padding: 8px;
  margin-top: 8px;
  font-size: 30px;
}

.container .profilo .top .floatr {
  float: right;
  width: 30%;
  margin-bottom: 10px;
}

.container .profilo .top .floatr a {
  margin: 10px;
  float: right;
}

.container .profilo .top .floatr a button {
  border: none;
  border-radius: 20px;
  background-color: white;
  padding: 13px 15px;
  transition: 0.6s;
}

.container .profilo .top .floatr a button:hover {
  background-color: LightSkyBlue;
  color: white;
  cursor: pointer;
  transition: 0.6s;
}

.container .profilo .top .floatr a button:hover i {
  color: white;
  transition: 0.6s;
}

.container .profilo .top .floatr a button i {
  transition: 0.6s;
}

.container .profilo .top .floatr .messagge button {
  padding: 10px 13px;
}

.container .profilo .top .floatr .messagge button i {
  font-size: 20px;
}

.container .profilo .appartamento {
  transition: 0.6s;
  float: left;
  width: calc(50% - 10px);
  padding: 30px;
  height: 300px;
  margin: 5px;
  opacity: 0.95;
}

.container .profilo .appartamento .titolo {
  width: 100%;
  margin-bottom: 20px;
}

.container .profilo .appartamento .titolo h2 {
  font-size: 26px;
}

.container .profilo .appartamento .immagine {
  float: left;
  width: 50%;
}

.container .profilo .appartamento .immagine img {
  width: 100%;
  max-height: 180px;
}

.container .profilo .appartamento .scritte {
  padding-left: 10px;
  float: left;
  width: 50%;
}

.container .profilo .appartamento .scritte:after {
  content: "";
  display: table;
  clear: both;
}

.container .profilo .appartamento .scritte p {
  text-align: center;
  padding: 5px;
}

.container .profilo .appartamento .scritte p a:hover {
  color: white;
}

.container .profilo .appartamento .scritte .bottoni {
  float: right;
  height: 70px;
  width: 100%;
}

.container .profilo .appartamento .scritte .bottoni .eliminatasto .none {
  display: none;
}

.container .profilo .appartamento .scritte .bottoni .eliminatasto .eliminazione {
  position: fixed;
  padding: 15px;
  z-index: 2;
  top: 20%;
  left: 40%;
  width: 20%;
  text-align: center;
  background-color: blue;
  border-radius: 20px;
}

.container .profilo .appartamento .scritte .bottoni .eliminatasto .eliminazione .eliscritte {
  margin-bottom: 10px;
}

.container .profilo .appartamento .scritte .bottoni .eliminatasto .eliminazione .eliscritte h3 {
  color: white;
  margin-bottom: 5px;
}

.container .profilo .appartamento .scritte .bottoni .eliminatasto .eliminazione .eliscritte h4 {
  color: white;
}

.container .profilo .appartamento .scritte .bottoni .eliminatasto .eliminazione .elibuttons .back {
  float: left;
  margin-left: 5px;
  margin-top: 4px;
  background-color: white;
  border: none;
  border-radius: 20px;
  transition: 0.6s;
  padding: 5px 8px;
  transition: 0.6s;
}

.container .profilo .appartamento .scritte .bottoni .eliminatasto .eliminazione .elibuttons .back:hover {
  cursor: pointer;
  background-color: LightSkyBlue;
  color: white;
  transition: 0.6s;
}

.container .profilo .appartamento .scritte .bottoni .eliminatasto .eliminazione .elibuttons #cancella {
  float: right;
  margin-left: 5px;
  margin-bottom: 5px;
  background-color: white;
  border: 1px solid darkblue;
  border-radius: 20px;
  transition: 0.6s;
  padding: 5px 8px;
  transition: 0.6s;
}

.container .profilo .appartamento .scritte .bottoni .eliminatasto .eliminazione .elibuttons #cancella:hover {
  background-color: crimson;
  color: white;
  transition: 0.6s;
}

.container .profilo .appartamento .scritte .bottoni a {
  float: right;
  margin: 5px;
}

.container .profilo .appartamento .scritte .bottoni a button {
  background-color: white;
  border: none;
  border-radius: 20px;
  transition: 0.6s;
  padding: 5px 8px;
}

.container .profilo .appartamento .scritte .bottoni a button:hover {
  background-color: blue;
  color: white;
  transition: 0.6s;
  cursor: pointer;
}

.container .profilo .appartamento .scritte .bottoni a .red:hover {
  background-color: crimson;
  transition: 0.6s;
  color: white;
  cursor: pointer;
}

.container .profilo .appartamento:hover {
  background-color: LightSkyBlue;
  transition: 0.6s;
}

@media screen and (max-width: 1400px) {
  .container {
    width: 100%;
  }

  .container .profilo .appartamento .scritte .bottoni .eliminatasto .eliminazione {
    left: 36%;
    width: 30%;
  }
}

@media screen and (max-width: 900px) {
  .container .profilo .appartamento {
    width: 100%;
    float: none;
  }

  .container .profilo .appartamento .scritte .bottoni .eliminatasto .eliminazione {
    left: 22%;
    width: 60%;
  }

  .container .profilo .top .floatl {
    width: 100%;
    text-align: center;
  }

  .container .profilo .top .floatr {
    width: 100%;
    margin: auto;
  }

  .container .profilo .top .floatr .buttonleft {
    float: left;
  }

  .container .profilo .top .floatr .buttonright {
    float: right;
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding-top: 0px;
  }

  .container .profilo .appartamento {
    padding: 0;
    margin-top: 25px;
    width: 100%;
    height: 450px;
    border-bottom: 1px solid darkblue;
    float: none;
  }

  .container .profilo .appartamento .immagine {
    width: 100%;
  }

  .container .profilo .appartamento .titolo {
    float: left;
  }

  .container .profilo .appartamento .scritte {
    width: 100%;
    padding-left: 0;
  }

  .container .profilo .appartamento .scritte .bottoni {
    margin-top: 20px;
  }

  .container .profilo .appartamento .scritte .bottoni .eliminatasto .eliminazione {
    left: 22%;
    width: 60%;
  }

  .container .profilo .top .floatl {
    width: 100%;
    text-align: left;
  }

  .container .profilo .top .floatl h1 {
    font-size: 22px;
  }

  .container .profilo .top .floatr {
    width: 100%;
    margin: auto;
  }

  .container .profilo .top .floatr .buttonleft {
    float: left;
  }

  .container .profilo .top .floatr .buttonright {
    float: right;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container_logiscr {
  padding-bottom: 80px;
  padding-top: 100px;
  margin-top: -58px;
  background-color: LightSkyBlue;
}

.container_logiscr .row {
  opacity: 0.95;
  min-height: 55vh;
  width: 60%;
  padding-top: 15px;
  margin: auto;
}

.container_logiscr .row .block {
  background-color: LightSkyBlue;
  width: 60%;
  margin: auto;
  padding: 20px;
  transition: 0.6s;
}

.container_logiscr .row .block .register_login {
  font-size: 34px;
  text-align: center;
  width: 100%;
}

.container_logiscr .row .block form {
  width: 100%;
  margin-top: 30px;
}

.container_logiscr .row .block form .input_group {
  width: 100%;
  margin: auto;
}

.container_logiscr .row .block form .input_group h3 {
  margin-left: 15px;
  margin-bottom: 10px;
  color: blue;
}

.container_logiscr .row .block form .input_group input {
  width: calc(100% - 36px);
  outline: none;
  margin: 15px;
  padding: 18px;
  font-size: 18px;
  border: 1px solid darkblue;
  border-radius: 10px;
}

.container_logiscr .row .block form .remember {
  padding: 20px;
}

.container_logiscr .row .block form .remember label {
  font-size: 18px;
}

.container_logiscr .row .block form .remember input {
  margin-left: 4px;
}

.container_logiscr .row .block form .errors a {
  margin-left: 20px;
  margin-top: 30px;
}

.container_logiscr .row .block form .errors .errori {
  padding-left: 20px;
}

.container_logiscr .row .block form .go {
  text-align: right;
  width: 100%;
}

.container_logiscr .row .block form .go button {
  margin: 15px;
  padding: 15px 35px;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  background-color: LightSkyBlue;
  transition: 0.6s;
}

.container_logiscr .row .block form .go button:hover {
  cursor: pointer;
  background-color: limegreen;
  color: white;
  transition: 0.6s;
}

@media screen and (max-width: 1200px) {
  .container_logiscr .row {
    width: 70%;
  }

  .container_logiscr .row .block {
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .container_logiscr .row {
    width: 80%;
  }

  .container_logiscr .row .block {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .container_logiscr {
    padding-top: 30px;
  }

  .container_logiscr .row .block {
    padding: 0;
  }

  .container_logiscr .row .block form .go {
    text-align: center;
    margin-top: 20px;
  }

  .container_logiscr .row .block form .go button {
    margin: 0;
  }
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.nav-bar .logo h1 {
  margin-top: 1px;
}

.nav-bar .login .links .nav-button {
  padding: 15px;
  text-align: center;
  border-radius: 20px;
  transition: 0.6s;
}

.nav-bar .login .links .nav-button:hover {
  transition: 0.6s;
  background-color: blue;
  color: white;
}

.nav-bar .login .links .username {
  margin-top: 10px;
}

.nav-bar .login .links .username .nav-button-logout {
  padding: 15px;
  text-align: center;
  border-radius: 20px;
  transition: 0.6s;
}

.nav-bar .login .links .username .nav-button-logout:hover {
  transition: 0.6s;
  background-color: crimson;
  color: white;
}

.heading-w-apartments {
  text-align: center;
  padding: 60px 160px 60px 160px;
  background-color: darkblue;
}

.heading-w-apartments h2 {
  color: white;
}

.container-w-apartments {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  min-height: 17vh;
  justify-content: center;
  padding: 0px 160px 0px 160px;
}

.container-w-apartments .w-apartment {
  background-color: white;
  width: 450px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  margin: 10px;
}

.container-w-apartments .w-apartment a img {
  width: 100%;
}

.container-w-apartments .w-apartment a .title-w-apartment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-w-apartments .w-apartment a .title-w-apartment hr {
  border-top: 2px solid LightSteelBlue;
  margin: 10px 0px;
  width: 50%;
}

.container-w-apartments .w-apartment a .title-w-apartment p {
  color: SteelBlue;
}

@media screen and (max-width: 900px) {
  .heading-w-apartments {
    text-align: center;
    background-color: darkblue;
  }

  .heading-w-apartments h2 {
    color: white;
  }

  .container-w-apartments {
    background-color: white;
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container-w-apartments .w-apartment {
    background-color: white;
    width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    margin: 10px;
  }

  .container-w-apartments .w-apartment hr {
    width: 30%;
  }

  .container-w-apartments .w-apartment img {
    width: 100%;
  }

  .container-w-apartments .w-apartment .title-w-apartment {
    text-align: center;
  }

  .container-w-apartments .w-apartment .title-w-apartment p {
    color: SteelBlue;
  }
}

@media screen and (max-width: 500px) {
  .heading-w-apartments {
    text-align: center;
    padding: 60px 0px 60px 0px;
    background-color: darkblue;
  }

  .heading-w-apartments h2 {
    color: white;
  }

  .container-w-apartments {
    background-color: white;
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container-w-apartments .w-apartment {
    background-color: white;
    width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    margin: 10px;
  }

  .container-w-apartments .w-apartment hr {
    width: 30%;
  }

  .container-w-apartments .w-apartment img {
    width: 100%;
  }

  .container-w-apartments .w-apartment .title-w-apartment {
    text-align: center;
  }

  .container-w-apartments .w-apartment .title-w-apartment p {
    color: SteelBlue;
  }
}

.tutto {
  background-color: LightSkyBlue;
  margin-top: -120px;
  margin-bottom: -50px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.tutto .container_show {
  background-color: white;
  width: 70%;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 50px;
}

.tutto .container_show .success {
  padding-top: 45px;
  padding-left: 45px;
  color: red;
}

.tutto .container_show .margin {
  width: 90%;
  margin: auto;
  padding: 30px 0;
}

.tutto .container_show .margin .promuovi {
  font-size: 22px;
}

.tutto .container_show .margin .foto {
  max-height: 360px;
}

.tutto .container_show .margin .nave {
  margin-bottom: 8px;
}

.tutto .container_show .margin .nave:after {
  content: "";
  display: table;
  clear: both;
}

.tutto .container_show .margin .nave .scritte {
  float: left;
  width: 50%;
}

.tutto .container_show .margin .nave .scritte h1 {
  margin-bottom: 7px;
}

.tutto .container_show .margin .nave .scritte p {
  margin-bottom: 12px;
}

.tutto .container_show .margin .nave .modifica {
  float: left;
  width: 50%;
}

.tutto .container_show .margin .nave .modifica .eliminatasto .none {
  display: none;
}

.tutto .container_show .margin .nave .modifica .eliminatasto .eliminazione {
  position: fixed;
  padding: 15px;
  z-index: 2;
  top: 20%;
  left: 40%;
  width: 20%;
  text-align: center;
  background-color: blue;
  border-radius: 20px;
}

.tutto .container_show .margin .nave .modifica .eliminatasto .eliminazione .eliscritte {
  margin-bottom: 10px;
}

.tutto .container_show .margin .nave .modifica .eliminatasto .eliminazione .eliscritte h3 {
  margin-bottom: 5px;
  color: white;
}

.tutto .container_show .margin .nave .modifica .eliminatasto .eliminazione .eliscritte h4 {
  color: white;
}

.tutto .container_show .margin .nave .modifica .eliminatasto .eliminazione .elibuttons #back {
  float: left;
  margin-left: 5px;
  margin-bottom: 5px;
}

.tutto .container_show .margin .nave .modifica .right {
  float: right;
  margin: 5px;
}

.tutto .container_show .margin .nave .modifica .red {
  transition: 0.6s;
  background-color: white;
}

.tutto .container_show .margin .nave .modifica .red:hover {
  cursor: pointer;
  background-color: crimson;
  transition: 0.6s;
  color: white;
}

.tutto .container_show .margin .nave .mappa {
  float: left;
  width: 40%;
  padding-left: 20px;
  height: 360px;
  max-height: 360px;
  margin-bottom: 25px;
}

.tutto .container_show .margin .nave .mappa #map {
  height: 100%;
}

.tutto .container_show .margin .nave .immagine {
  float: left;
  width: 60%;
  height: 400px;
}

.tutto .container_show .margin .nave .immagine img {
  max-height: 360px;
  width: 100%;
}

.tutto .container_show .margin:after {
  content: "";
  display: table;
  clear: both;
}

.tutto .container_show .margin button {
  border: none;
  margin-top: 5px;
  padding: 8px 13px;
  transition: 0.6s;
  background-color: white;
  border-radius: 20px;
}

.tutto .container_show .margin button:hover {
  cursor: pointer;
  background-color: LightSkyBlue;
  color: white;
}

.tutto .container_show .margin .table {
  transition: 0.6s;
  margin-top: 35px;
  padding: 10px 25px;
}

.tutto .container_show .margin .table:hover {
  background-color: LightSkyBlue;
  transition: 0.6s;
}

.tutto .container_show .margin .table::after {
  content: "";
  display: table;
  clear: both;
}

.tutto .container_show .margin .table .dati {
  width: 50%;
  margin-top: 10px;
  float: left;
}

.tutto .container_show .margin .table .dati h2 {
  margin-bottom: 7px;
}

.tutto .container_show .margin .table .dati h3 {
  margin-bottom: 5px;
}

.tutto .container_show .margin .table .servizi {
  margin-top: 10px;
  float: left;
  width: 50%;
}

.tutto .container_show .margin .table .servizi h2 {
  margin-bottom: 7px;
  text-align: center;
}

.tutto .container_show .margin .table .servizi ul {
  list-style-type: none;
}

.tutto .container_show .margin .table .servizi ul li {
  font-size: 18px;
  float: left;
  width: 50%;
  padding-left: 20px;
  padding-top: 5px;
}

.tutto .container_show .margin .table .servizi ul li i {
  padding-right: 5px;
}

.tutto .container_show .margin .messaggio {
  transition: 0.6s;
  margin-top: 35px;
}

.tutto .container_show .margin .messaggio h2 {
  margin-top: 10px;
}

.tutto .container_show .margin .messaggio #mail {
  width: 100%;
  padding: 6px 10px;
  outline: none;
  border-radius: 5px;
  border: solid 1px darkblue;
  margin-bottom: 10px;
  margin-top: 15px;
  font-size: 18px;
  color: blue;
}

.tutto .container_show .margin .messaggio #text {
  outline: none;
  width: 100%;
  padding: 6px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: solid 1px darkblue;
  font-size: 18px;
  color: blue;
}

.tutto .container_show .margin .messaggio button {
  margin: 15px 0;
  float: right;
  padding: 10px 25px;
  border-radius: 30px;
  font-size: 20px;
  background-color: white;
  transition: ease-in-out 0.4s;
}

.tutto .container_show .margin .messaggio button:hover {
  cursor: pointer;
  background-color: darkblue;
  color: white;
  transition: ease-in-out 0.4s;
}

.tutto .container_show .margin .messaggio:hover {
  background-color: LightSkyBlue;
  transition: 0.6s;
}

.tutto .container_show .margin .promuovi {
  transition: 0.6s;
  width: 300px;
  padding: 10px;
  margin: auto;
  margin-top: 40px;
  text-align: center;
}

.tutto .container_show .margin .promuovi:hover {
  background-color: LightGoldenRodYellow;
  transition: 0.6s;
}

.tutto .container_show .margin .promuovi:hover a {
  color: darkblue;
  transition: 0.6s;
}

.tutto .container_show .margin .promuovi a {
  transition: 0.6s;
}

.tutto .container_show .margin #indietro {
  margin-top: 25px;
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  background-color: white;
  transition: 0.6s;
}

.tutto .container_show .margin #indietro:hover {
  cursor: pointer;
  background-color: crimson;
  color: white;
  transition: 0.6s;
}

@media screen and (max-width: 1200px) {
  .tutto .container_show {
    width: 100%;
  }

  .tutto .container_show .margin .nave .modifica .eliminatasto .eliminazione {
    left: 31%;
    width: 40%;
  }
}

@media screen and (max-width: 900px) {
  .tutto .container_show .margin:after {
    content: "";
    display: table;
    clear: both;
  }

  .tutto .container_show .margin .nave .modifica .eliminatasto .eliminazione {
    left: 22%;
    width: 60%;
  }

  .tutto .container_show .margin .foto {
    max-height: 2000px;
  }

  .tutto .container_show .margin .foto .mappa {
    width: 100%;
    float: none;
    padding-left: 0;
  }

  .tutto .container_show .margin .foto .immagine {
    width: 100%;
    float: none;
  }

  .tutto .container_show .margin .table .dati {
    width: 100%;
  }

  .tutto .container_show .margin .table .servizi {
    margin-top: 25px;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .tutto {
    padding-top: 0;
  }

  .tutto .container_show {
    padding-top: 20px;
  }

  .tutto .container_show .margin:after {
    content: "";
    display: table;
    clear: both;
  }

  .tutto .container_show .margin .nave .scritte {
    width: 100%;
  }

  .tutto .container_show .margin .nave .modifica {
    float: none;
    width: 100%;
  }

  .tutto .container_show .margin .nave .modifica .eliminatasto .eliminazione {
    left: 22%;
    width: 60%;
  }

  .tutto .container_show .margin .foto {
    max-height: 2000px;
  }

  .tutto .container_show .margin .foto .mappa {
    height: 300px;
    width: 100%;
    float: none;
    padding-left: 0;
  }

  .tutto .container_show .margin .foto .immagine {
    width: 100%;
    height: 100%;
    padding-bottom: 25px;
    float: none;
  }

  .tutto .container_show .margin .table .dati {
    width: 100%;
  }

  .tutto .container_show .margin .table .servizi {
    margin-top: 25px;
    width: 100%;
  }
}

.containeredit {
  padding: 25px;
  width: 75%;
  margin: auto;
  margin-bottom: 80px;
  background-size: cover;
  opacity: 0.95;
}

.containeredit:after {
  content: "";
  display: table;
  clear: both;
}

.containeredit h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.containeredit .dati {
  margin-top: 20px;
  width: 50%;
  float: left;
  border-right: 2px solid blue;
  padding-right: 30px;
}

.containeredit .dati .none {
  display: none;
}

.containeredit .dati .valore {
  padding: 5px;
}

.containeredit .dati .valore .none {
  display: none;
}

.containeredit .dati .valore button {
  float: right;
  margin: 10px;
  padding: 7px 10px;
  border: 1px solid black;
}

.containeredit .dati .valore button:hover {
  cursor: pointer;
}

.containeredit .dati .valore .label {
  width: 49%;
  display: inline-block;
  text-align: center;
}

.containeredit .dati .valore .label label {
  font-size: 18px;
  color: blue;
}

.containeredit .dati .valore input {
  font-size: 18px;
  outline: none;
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 3px;
  border-radius: 5px;
  display: inline-block;
  width: 49%;
  color: blue;
}

.containeredit .dati h3 {
  padding-bottom: 15px;
  font-size: 22px;
}

.containeredit .servizi {
  padding-left: 30px;
  float: left;
  width: 50%;
  height: 500px;
}

.containeredit .servizi .none {
  display: none;
}

.containeredit .servizi .left {
  float: left;
  width: 50%;
}

.containeredit .servizi .left .servizietto {
  padding: 8px;
  width: 150px;
  display: inline-block;
}

.containeredit .servizi .left .servizietto h4 {
  font-size: 18px;
  padding: 6px;
  color: blue;
}

.containeredit .servizi .left .check {
  display: inline-block;
}

.containeredit .servizi h2 {
  font-size: 22px;
  margin-top: 15px;
}

.containeredit .servizi label {
  padding: 5px;
  font-size: 23px;
  margin-bottom: 20px;
}

.containeredit .bottoni {
  margin-right: 1.5%;
  text-align: center;
}

.containeredit .bottoni .error:hover {
  background-color: crimson;
  cursor: pointer;
  transition: 1s;
}

.containeredit .bottoni button {
  margin: 10px;
  border: none;
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 20px;
  transition: 0.6s;
  background-color: white;
}

.containeredit .bottoni button:hover {
  background-color: limegreen;
  cursor: pointer;
  color: white;
  transition: 0.6s;
}

.containeredit .bottoni .red {
  background-color: white;
}

.containeredit .bottoni .red:hover {
  background-color: crimson;
  cursor: pointer;
  transition: 0.6s;
}

@media screen and (max-width: 1200px) {
  .containeredit {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .containeredit .servizi {
    margin-top: 20px;
    width: 100%;
    height: 300px;
  }

  .containeredit .dati {
    padding-top: 20px;
    width: 100%;
    border: none;
  }

  .containeredit .dati .valore {
    padding-top: 10px;
  }

  .containeredit .dati .valore .label {
    text-align: left;
    padding-left: 37px;
  }
}

@media screen and (max-width: 500px) {
  .containeredit .servizi {
    width: 100%;
    padding: 0;
    height: 270px;
  }

  .containeredit .servizi .left .servizietto {
    width: 120px;
  }

  .containeredit .dati {
    padding-top: 20px;
    padding-right: 0;
    width: 100%;
    border: none;
  }

  .containeredit .dati .valore {
    padding-top: 10px;
  }

  .containeredit .dati .valore .label {
    text-align: left;
    padding-left: 0;
  }
}

.search-section {
  background: white;
  background: linear-gradient(180deg, white 50%, LightSkyBlue 100%);
  padding: 0px 160px 60px 160px;
}

.search-section form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-section form .searchbar-apartments {
  width: 100%;
  text-align: center;
}

.search-section form .searchbar-apartments #query {
  font-size: 26px;
  outline: none;
  padding-left: 10px;
  width: 280px;
  height: 60px;
  border-radius: 8px;
  font-size: 30px;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-top: 3px solid darkblue;
  border-bottom: 3px solid darkblue;
  transition: 0.6s;
}

.search-section form button {
  padding: 30px;
  margin-top: 35px;
  text-align: center;
  border-radius: 20px;
  border: none;
  background-color: LightSkyBlue;
  transition: 0.6s;
}

.search-section form button:hover {
  transition: 0.6s;
  background-color: blue;
  color: white;
}

.search-section form button:hover h1 {
  color: white;
}

.search-section form .filters-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.search-section form .filters-section .filters-number {
  width: 70%;
  display: flex;
  justify-content: space-around;
  padding: 30px 0px;
}

.search-section form .filters-section .filters-number .filters-number-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-section form .filters-section .filters-number .filters-number-column #rangeinputB,
.search-section form .filters-section .filters-number .filters-number-column #rangeinputD,
.search-section form .filters-section .filters-number .filters-number-column #rangeinputR {
  -webkit-appearance: none;
  height: 30px;
  outline: none;
  -webkit-transition: 0.2s;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-top: 3px solid darkblue;
  border-bottom: 3px solid darkblue;
  border-radius: 8px;
}

.search-section form .filters-section .filters-checkbox {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.search-section form .filters-section .filters-checkbox .service {
  text-align: center;
  width: 100px;
}

.main_search_bar_query {
  display: flex;
  width: 100%;
}

.main_search_bar_query .apartments {
  height: 100vh;
  width: 50vw;
}

.main_search_bar_query .apartments .results-section {
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.main_search_bar_query .apartments .results-section .results-apartments {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_search_bar_query .apartments .results-section .results-apartments #sponsoredbox {
  background-color: LightGoldenRodYellow;
}

.main_search_bar_query .apartments .results-section .results-apartments #sponsoredbox:hover {
  background: #c7c76194;
}

.main_search_bar_query .apartments .results-section .results-apartments #sponsoredbox:active {
  transform: scale(1.01);
}

.main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment {
  display: flex;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  margin-bottom: 10px;
}

.main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment:hover {
  cursor: pointer;
  background: #87cefa33;
}

.main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment:active {
  transform: scale(1.01);
}

.main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .image-apartment {
  width: 50%;
}

.main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .image-apartment img {
  width: 100%;
}

.main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .info-apartment {
  padding: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .info-apartment hr {
  width: 100px;
  border-top: 2px solid LightSteelBlue;
}

.main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .info-apartment p {
  color: SteelBlue;
}

.main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .info-apartment a {
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .info-apartment a button {
  padding: 15px;
  text-align: center;
  border-radius: 20px;
  border: none;
  background-color: white;
  transition: 0.6s;
}

.main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .info-apartment a button:hover {
  cursor: pointer;
  transition: 0.6s;
  background-color: blue;
  color: white;
}

.main_search_bar_query .map {
  height: 100vh;
  width: 50vw;
}

.main_search_bar_query .move_up {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: fixed;
  right: 50px;
  top: 150px;
  background-color: white;
  z-index: 1000;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_search_bar_query .move_up:hover {
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .search-section {
    background: white;
    background: linear-gradient(180deg, white 50%, LightSkyBlue 100%);
    padding: 0px 80px 30px 80px;
  }

  .search-section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .search-section form .searchbar-apartments {
    width: 100%;
    text-align: center;
  }

  .search-section form .searchbar-apartments #query {
    font-size: 26px;
    outline: none;
    padding-left: 10px;
    width: 280px;
    height: 60px;
    border-radius: 8px;
    font-size: 30px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-top: 3px solid darkblue;
    border-bottom: 3px solid darkblue;
    transition: 0.6s;
  }

  .search-section form button {
    padding: 30px;
    margin-top: 35px;
    text-align: center;
    border-radius: 20px;
    border: none;
    background-color: LightSkyBlue;
    transition: 0.6s;
  }

  .search-section form button:hover {
    transition: 0.6s;
    background-color: blue;
    color: white;
  }

  .search-section form button:hover h1 {
    color: white;
  }

  .search-section form .filters-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .search-section form .filters-section .filters-number {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 30px 0px;
  }

  .search-section form .filters-section .filters-number .filters-number-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-section form .filters-section .filters-number .filters-number-column #rangeinputB,
  .search-section form .filters-section .filters-number .filters-number-column #rangeinputD,
  .search-section form .filters-section .filters-number .filters-number-column #rangeinputR {
    -webkit-appearance: none;
    height: 30px;
    outline: none;
    -webkit-transition: 0.2s;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-top: 3px solid darkblue;
    border-bottom: 3px solid darkblue;
    border-radius: 8px;
  }

  .search-section form .filters-section .filters-checkbox {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .search-section form .filters-section .filters-checkbox .service {
    text-align: center;
    width: 100px;
  }

  .main_search_bar_query {
    display: flex;
    width: 100%;
  }

  .main_search_bar_query .apartments {
    height: 100vh;
    width: 50vw;
  }

  .main_search_bar_query .apartments .results-section {
    overflow: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
  }

  .main_search_bar_query .apartments .results-section .results-apartments {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment {
    display: flex;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .image-apartment {
    width: 50%;
  }

  .main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .image-apartment img {
    width: 100%;
  }

  .main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .info-apartment {
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .info-apartment hr {
    width: 100px;
    border-top: 2px solid LightSteelBlue;
  }

  .main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .info-apartment p {
    color: SteelBlue;
  }

  .main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .info-apartment a {
    display: flex;
    justify-content: center;
    align-self: flex-end;
  }

  .main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .info-apartment a button {
    margin-top: 30px;
    padding: 15px;
    text-align: center;
    border-radius: 20px;
    border: none;
    background-color: white;
    transition: 0.6s;
  }

  .main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .info-apartment a button:hover {
    transition: 0.6s;
    background-color: blue;
    color: white;
  }

  .main_search_bar_query .map {
    height: 100vh;
    width: 50vw;
  }
}

@media screen and (max-width: 900px) {
  .search-section {
    background: white;
    background: linear-gradient(180deg, white 50%, LightSkyBlue 100%);
  }

  .search-section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .search-section form .searchbar-apartments {
    width: 100%;
    text-align: center;
  }

  .search-section form .searchbar-apartments #query {
    font-size: 26px;
    outline: none;
    width: 100%;
    height: 60px;
    border-radius: 8px;
    font-size: 30px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-top: 3px solid darkblue;
    border-bottom: 3px solid darkblue;
  }

  .search-section form button {
    padding: 30px;
    margin-top: 35px;
    text-align: center;
    border-radius: 20px;
    border: none;
    background-color: LightSkyBlue;
    transition: 0.6s;
  }

  .search-section form button:hover {
    transition: 0.6s;
    background-color: blue;
    color: white;
  }

  .search-section form button:hover h1 {
    color: white;
  }

  .search-section form .filters-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .search-section form .filters-section .filters-number {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0px;
  }

  .search-section form .filters-section .filters-number .filters-number-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-section form .filters-section .filters-number .filters-number-column #rangeinputB,
  .search-section form .filters-section .filters-number .filters-number-column #rangeinputD,
  .search-section form .filters-section .filters-number .filters-number-column #rangeinputR {
    -webkit-appearance: none;
    height: 30px;
    outline: none;
    -webkit-transition: 0.2s;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-top: 3px solid darkblue;
    border-bottom: 3px solid darkblue;
    border-radius: 8px;
  }

  .search-section form .filters-section .filters-checkbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  .search-section form .filters-section .filters-checkbox .service {
    text-align: center;
    width: 100px;
  }

  .main_search_bar_query {
    display: flex;
    width: 100%;
  }

  .main_search_bar_query .apartments {
    height: 100vh;
    width: 50vw;
  }

  .main_search_bar_query .apartments .results-section {
    overflow: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
  }

  .main_search_bar_query .apartments .results-section .results-apartments {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment {
    display: flex;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .image-apartment {
    display: none;
  }

  .main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .image-apartment img {
    display: none;
  }

  .main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .info-apartment {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .info-apartment hr {
    width: 100px;
    border-top: 2px solid LightSteelBlue;
  }

  .main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .info-apartment p {
    color: SteelBlue;
  }

  .main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .info-apartment a {
    display: flex;
    justify-content: center;
    align-self: flex-end;
  }

  .main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .info-apartment a button {
    margin-top: 30px;
    padding: 15px;
    text-align: center;
    border-radius: 20px;
    border: none;
    background-color: white;
    transition: 0.6s;
  }

  .main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .info-apartment a button:hover {
    transition: 0.6s;
    background-color: blue;
    color: white;
  }

  .main_search_bar_query .map {
    height: 100vh;
    width: 50vw;
  }
}

@media screen and (max-width: 500px) {
  .search-section {
    background: white;
    background: linear-gradient(180deg, white 50%, LightSkyBlue 100%);
  }

  .search-section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .search-section form .searchbar-apartments {
    width: 100%;
    text-align: center;
  }

  .search-section form .searchbar-apartments #query {
    font-size: 26px;
    outline: none;
    width: 100%;
    height: 60px;
    border-radius: 8px;
    font-size: 30px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-top: 3px solid darkblue;
    border-bottom: 3px solid darkblue;
  }

  .search-section form button {
    padding: 30px;
    margin-top: 35px;
    text-align: center;
    border-radius: 20px;
    border: none;
    background-color: LightSkyBlue;
    transition: 0.6s;
  }

  .search-section form button:hover {
    transition: 0.6s;
    background-color: blue;
    color: white;
  }

  .search-section form button:hover h1 {
    color: white;
  }

  .search-section form .filters-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .search-section form .filters-section .filters-number {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .search-section form .filters-section .filters-number .filters-number-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-section form .filters-section .filters-number .filters-number-column #rangeinputB,
  .search-section form .filters-section .filters-number .filters-number-column #rangeinputD,
  .search-section form .filters-section .filters-number .filters-number-column #rangeinputR {
    -webkit-appearance: none;
    height: 30px;
    outline: none;
    -webkit-transition: 0.2s;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-top: 3px solid darkblue;
    border-bottom: 3px solid darkblue;
    border-radius: 8px;
  }

  .search-section form .filters-section .filters-checkbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  .search-section form .filters-section .filters-checkbox .service {
    text-align: center;
    width: 100px;
  }

  .main_search_bar_query {
    display: flex;
    width: 100%;
  }

  .main_search_bar_query .apartments {
    height: 100vh;
    width: 100vw;
  }

  .main_search_bar_query .apartments .results-section {
    overflow: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
  }

  .main_search_bar_query .apartments .results-section .results-apartments {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment {
    display: flex;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .image-apartment {
    display: none;
  }

  .main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .image-apartment img {
    display: none;
  }

  .main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .info-apartment {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .info-apartment hr {
    width: 100px;
    border-top: 2px solid LightSteelBlue;
  }

  .main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .info-apartment p {
    color: SteelBlue;
  }

  .main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .info-apartment a {
    display: flex;
    justify-content: center;
    align-self: flex-end;
  }

  .main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .info-apartment a button {
    margin-top: 30px;
    padding: 15px;
    text-align: center;
    border-radius: 20px;
    border: none;
    background-color: white;
    transition: 0.6s;
  }

  .main_search_bar_query .apartments .results-section .results-apartments .box-result-apartment .info-apartment a button:hover {
    transition: 0.6s;
    background-color: blue;
    color: white;
  }

  .main_search_bar_query .map {
    display: none;
  }
}

.container_message {
  min-height: 59vh;
  width: 100%;
  padding: 50px;
  margin: auto;
  margin-top: 30px;
}

.container_message:after {
  content: "";
  display: table;
  clear: both;
}

.container_message .scritte:after {
  content: "";
  display: table;
  clear: both;
}

.container_message .scritte .text_mail {
  float: left;
  width: 350px;
  margin-bottom: 20px;
}

.container_message .scritte .testo {
  float: left;
  width: calc(100% - 350px);
  margin-bottom: 20px;
}

.container_message .messaggio {
  transition: 0.6s;
}

.container_message .messaggio:after {
  content: "";
  display: table;
  clear: both;
}

.container_message .messaggio:hover {
  transition: 0.6s;
  background-color: LightSkyBlue;
}

.container_message .messaggio .mail {
  float: left;
  width: 350px;
  margin-bottom: 10px;
  border-top: 2px solid darkblue;
  padding: 20px;
}

.container_message .messaggio .text {
  float: left;
  width: calc(100% - 350px);
  margin-bottom: 10px;
  border-top: 2px solid darkblue;
  padding-top: 20px;
  height: 200px;
}

.container_message .messaggio .text h3 {
  font-size: 16px;
  line-height: 19px;
  color: blue;
}

.container_message button {
  margin-left: 15px;
  padding: 16px 21px;
  background-color: white;
  border: 1px solid darkblue;
  border-radius: 30px;
  font-size: 19px;
  transition: 0.6s;
  margin-top: 20px;
}

.container_message button:hover {
  cursor: pointer;
  background-color: crimson;
  color: white;
  transition: 0.6s;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .container .container_message .messaggio .mail {
    margin-bottom: 0;
    width: 100%;
    float: none;
  }

  .container .container_message .messaggio .text {
    padding: 20px;
    width: 100%;
    float: none;
  }
}

@media screen and (max-width: 500px) {
  .container .container_message {
    padding: 0;
  }

  .container .container_message .messaggio .mail {
    margin-bottom: 0;
    width: 100%;
    float: none;
  }

  .container .container_message .messaggio .text {
    padding: 20px;
    width: 100%;
    float: none;
  }
}

.title-stats {
  padding: 30px 160px 30px 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-stats {
  padding: 30px 160px 30px 160px;
}

.main-stats .counters {
  padding: 30px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-stats .counters .counter-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main-stats .line {
  padding: 30px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-stats .line .line-graph {
  width: 40%;
}

.main-stats .bar {
  padding: 30px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-stats .bar .bar-graph {
  width: 40%;
}

.title-payment {
  padding: 30px 160px 30px 160px;
  display: flex;
  justify-content: center;
}

.payment {
  padding: 30px 160px 30px 160px;
  display: flex;
  justify-content: center;
}

.payment .payment-box {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 5px;
}

.active {
  border-top: 7px solid limegreen;
  border-radius: 10px;
}

.payment .payment-box button {
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: LightGoldenRodYellow;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px LightSteelBlue;
}

.payment .payment-box button:hover {
  background-color: limegreen;
}

.payment .payment-box button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#dropin-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-payments {
  padding: 30px 160px 30px 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-payments #submit-button,
.button-payments #indietro {
  text-decoration: none;
  padding: 18px;
  font-size: 19px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 30px;
  background-color: white;
  margin: 15px;
  transition: 0.6s;
}

.button-payments #submit-button:hover,
.button-payments #indietro:hover {
  cursor: pointer;
  transition: 0.6s;
}

.button-payments #submit-button:hover {
  background-color: limegreen;
  color: white;
}

.button-payments #indietro:hover {
  background-color: crimson;
  color: white;
}

.alertred {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: red;
  color: white;
}

.alertred .closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.6s;
}

.alertred .closebtn:hover {
  color: black;
}

.alertgreen {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: green;
  color: white;
}

.alertgreen .closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.6s;
}

.alertgreen .closebtn:hover {
  color: black;
}

@media screen and (max-width: 1200px) {
  .payment {
    padding: 30px;
    display: flex;
  }

  .payment .payment-box {
    width: 33%;
  }
}

@media screen and (max-width: 900px) {
  .title-payment {
    padding: 30px;
  }

  .payment {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    display: flex;
  }

  .payment .payment-box {
    margin-top: 30px;
  }

  .payment .payment-box h1 {
    font-size: 20px;
  }

  .payment .payment-box h2 {
    font-size: 18px;
  }

  .payment .payment-box p {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .title-payment {
    text-align: center;
    padding: 30px;
    padding-bottom: 0;
  }

  .payment {
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    display: flex;
  }

  .payment .payment-box {
    width: 100%;
    margin-top: 30px;
  }

  .payment .payment-box h1 {
    font-size: 20px;
  }

  .payment .payment-box h2 {
    font-size: 18px;
  }

  .payment .payment-box p {
    font-size: 14px;
  }

  .button-payments {
    padding: 0px 160px 0 160px;
  }
}

.searchbar-section {
  background: white;
  background: linear-gradient(180deg, white 50%, LightSkyBlue 100%);
  margin-top: 93px;
  padding-top: 75px;
  padding-bottom: 69px;
  padding-right: 160px;
  padding-left: 160px;
}

.searchbar-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchbar-section form .searchbar {
  width: 90%;
  margin: auto;
  text-align: center;
}

.searchbar-section form .searchbar #query {
  font-size: 26px;
  outline: none;
  padding-left: 10px;
  width: 280px;
  height: 60px;
  border-radius: 8px;
  font-size: 30px;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-top: 3px solid darkblue;
  border-bottom: 3px solid darkblue;
  transition: 0.6s;
}

.searchbar-section form .searchbar #query:focus {
  width: 100%;
  transition: 0.6s;
}

.searchbar-section form .botton button {
  padding: 15px;
  margin-top: 45px;
  text-align: center;
  border-radius: 20px;
  border: none;
  background-color: white;
  transition: 0.6s;
}

.searchbar-section form .botton button:hover {
  transition: 0.6s;
  background-color: blue;
  color: white;
}

@media screen and (max-width: 1200px) {
  .searchbar-section {
    background: white;
    background: linear-gradient(180deg, white 50%, LightSkyBlue 100%);
    margin-top: 90px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .searchbar-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .searchbar-section form .searchbar {
    width: 90%;
    margin: auto;
    text-align: center;
  }

  .searchbar-section form .searchbar #query {
    font-size: 26px;
    outline: none;
    padding-left: 10px;
    width: 60%;
    height: 60px;
    border-radius: 8px;
    font-size: 30px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-top: 3px solid darkblue;
    border-bottom: 3px solid darkblue;
    transition: 0.6s;
  }

  .searchbar-section form .searchbar #query:focus {
    width: 100%;
    transition: 0.6s;
  }

  .searchbar-section form .botton button {
    padding: 35px;
    margin-top: 45px;
    text-align: center;
    border-radius: 20px;
    border: none;
    background-color: white;
    transition: 0.6s;
  }

  .searchbar-section form .botton button:hover {
    transition: 0.6s;
    background-color: blue;
    color: white;
  }
}

@media screen and (max-width: 900px) {
  .searchbar-section {
    background: white;
    background: linear-gradient(180deg, white 50%, LightSkyBlue 100%);
    margin-top: 90px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .searchbar-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .searchbar-section form .searchbar {
    width: 90%;
    margin: auto;
    text-align: center;
  }

  .searchbar-section form .searchbar #query {
    font-size: 26px;
    outline: none;
    padding-left: 10px;
    width: 100%;
    height: 60px;
    border-radius: 8px;
    font-size: 30px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-top: 3px solid darkblue;
    border-bottom: 3px solid darkblue;
    transition: 0.6s;
  }

  .searchbar-section form .botton button {
    padding: 35px;
    margin-top: 45px;
    text-align: center;
    border-radius: 20px;
    border: none;
    background-color: white;
    transition: 0.6s;
  }

  .searchbar-section form .botton button:hover {
    transition: 0.6s;
    background-color: blue;
    color: white;
  }
}

* {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: darkblue;
  overflow-y: visible;
}

.color-lightskyblue {
  color: LightSkyBlue;
}

.color-blue {
  color: blue;
}

.color-red {
  color: crimson;
}

.color-white {
  color: white;
}

.color-lightsteelblue {
  color: LightSteelBlue;
}

.color-LightGoldenRodYellow {
  color: LightGoldenRodYellow;
}

a {
  text-decoration: none;
}

.py-4 {
  margin-top: 100px;
}

#app {
  position: relative;
  z-index: 1;
  padding-top: 50px;
}

#lat,
#long {
  display: none;
}

button {
  outline: 0;
}

html {
  overflow-x: hidden;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: LightSteelBlue;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
  background-color: darkblue;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
}

.header {
  width: 100vw;
  padding: 30px 160px 30px 160px;
  background: linear-gradient(180deg, white 0%, LightSkyBlue 100%);
  position: fixed;
  top: 0;
  z-index: 2;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 60px 160px 60px 160px;
  background: linear-gradient(0deg, white 0%, LightSkyBlue 100%);
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 900px) {
  .header {
    padding: 30px 40px 30px 40px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 30px 40px 30px 40px;
  }

  .header .nav-bar .login .links .username {
    height: 40px;
    float: right;
    text-align: right;
  }

  .header .nav-bar .login .links .username a {
    padding: 0;
    padding-right: 10px;
    width: 100%;
    margin-top: 10px;
  }

  .header .nav-bar .login .links .username a:hover {
    background: none;
    transition: 0;
  }
}

