@import 'profilo';
@import 'login_register';
@import 'welcome';
@import 'show';
@import 'edit_create';
@import 'search';
@import 'view_message';

*{
  font-family: 'Fira Sans', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
.py-4{
  margin-top: 100px;
}
#app{
  position: relative;
  z-index: 1;
}

#lat, #long{
  display: none;
}

// Header

.header {
  width: 100vw;
  padding: 30px 160px 30px 160px;
  position: fixed;
  top: 0;
  z-index: 2;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-top: 2px solid rgba(0, 0, 0, .3);
  border-bottom: 2px solid rgba(0, 0, 0, .3);
  border-radius: 30px;
  background-size:contain;
  background-color: white;
}

// Footer

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 60px 160px 60px 160px;
  background-color: grey;
}
