@import 'profilo';
@import 'login_register';
@import 'welcome';
@import 'show';
@import 'edit_create';
@import 'search';
@import 'view_message';
@import 'stats';
@import 'payments';
@import 'searchbar';


*{
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: darkblue; //lasciarlo per le scritte in grassetto importanti
  overflow-y: visible;
}

.color-lightskyblue{
  color: LightSkyBlue;
}

.color-blue{
  color: blue;
}

.color-red{
  color: crimson;
}

.color-white{
  color: white;
}

.color-lightsteelblue{
  color: LightSteelBlue;
}

.color-LightGoldenRodYellow{
  color: LightGoldenRodYellow; //usare come sfondo appartamenti in evidenza o evidenziare qualcosa di prezioso
}

a{
  text-decoration: none;
}

.py-4{
  margin-top: 100px;
}

#app{
  position: relative;
  z-index: 1;
  min-height: 90%;
  padding-top: 50px;
}

#lat, #long{
  display: none;
}

button{
  outline: 0;
}

html{
  overflow-x: hidden;
}

// scroll bar control e customizations

*{

  &::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: LightSteelBlue;
  }
  &::-webkit-scrollbar{
    width: 10px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb{
    background-color: darkblue;
    background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%,
    transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%,transparent)
  }
}


// Header

.header {
  width: 100vw;
  padding: 30px 160px 30px 160px;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, LightSkyBlue 100%);
  position: fixed;
  top: 0;
  z-index: 2;

}

// Footer

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 60px 160px 60px 160px;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, LightSkyBlue 100%);
  position: relative;
  z-index: 2;
}


@media screen and (max-width: 900px){
  .header{
    padding: 30px 40px 30px 40px;
  }
}
