@import 'profilo';
@import 'login_register';
@import 'welcome';
@import 'show';
@import 'edit_create';

*{
  font-family: 'Fira Sans', sans-serif;
}
a{
  text-decoration: none;
}
.sfondo{
  background-image: url(https://images3.alphacoders.com/978/thumb-1920-978584.jpg);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}
.py-4{
  margin-top: 100px;
}
#app{
  position: relative;
  z-index: 1;
}
