.title-payment {
  padding: 30px 160px 30px 160px;
  display: flex;
  justify-content: center;
}

.payment {
  padding: 30px 160px 30px 160px;
  display: flex;
  justify-content: center;
}

.payment .payment-box {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 5px;
}

.active{
  border-top: 7px solid limegreen;
  border-radius: 10px;
}

.payment .payment-box button {
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #a6a82c;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px LightSteelBlue;
}

.payment .payment-box button:hover {
  background-color: limegreen;
}

.payment .payment-box button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

// .payment .payment-box button:focus {
//   background-color: limegreen;
// }


#dropin-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-payments{
  padding: 30px 160px 30px 160px;
  display: flex;
  justify-content: center;
  align-items: center;

  #submit-button, #indietro{
    text-decoration: none;
    padding: 18px;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    background-color: white;
    margin: 15px;
    transition: 0.6s;
    &:hover{
      cursor: pointer;
      transition: 0.6s;
    }
  }
  #submit-button{
    &:hover{
      background-color: limegreen;
      color: white;
    }
  }
  #indietro{
    &:hover{
      background-color: crimson;
      color: white;
    }
  }

}


.alertred{
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: red;
  color: white;

  .closebtn{
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.6s;

    &:hover{
      color: black;
    }

  }

}

.alertgreen{
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: green;
  color: white;

  .closebtn{
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.6s;

    &:hover{
      color: black;
    }

  }

}


@media screen and (max-width: 1200px){
  .payment {
    .payment-box{
      width: 33%;
    }
    padding: 30px;
    display: flex;
  }
}
@media screen and (max-width: 900px){
  .title-payment{
    padding: 30px;
  }
  .payment {
    .payment-box{
      h1{
        font-size: 20px;
      }
      h2{
        font-size: 18px;
      }
      p{
        font-size: 14px;
      }
      margin-top: 30px;
    }
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    display: flex;
  }
}
