.title-stats{
  padding: 30px 160px 30px 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-stats{
  padding: 30px 160px 30px 160px;


  .counters{
    padding: 30px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;


    .counter-stats{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;


    }
  }

  .line{
    padding: 30px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;


    .line-graph{
      width: 40%;

    }

  }

  .bar{
    padding: 30px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;


    .bar-graph{
      width: 40%;


    }

  }

}
